## Assignment 1 | Data Types

Add code cells as needed for your answers.

### Exercise 1: Manipulating Lists

Create a list containing the numbers 10, 20, and 30. Store your list as a variable named `a`. Then create a second list containing the numbers 30, 60, and 90. Call this this `b`.

In [1]:
a = [10, 20, 30]

b = [30, 60, 90]

print(a)
print(b)

type(a)

[10, 20, 30]
[30, 60, 90]

list

In the cells below, write Python expressions to create the following four outputs by combining `a` and `b` in creative ways:

1. [[10, 20, 30], [30, 60, 90]]

2. [10, 20, 30, 30, 60, 90]

3. [10, 20, 60, 90]

4. [20, 40, 60]

In [2]:
long_list = [a] + [b]
long_list

[[10, 20, 30], [30, 60, 90]]

In [3]:
cont_list = a + b
cont_list

[10, 20, 30, 30, 60, 90]

In [4]:
picky_list = a[0:2] + b[1:3]
picky_list

[10, 20, 60, 90]

In [5]:
#appending additional numeric value
a.append(40)
a

[10, 20, 30, 40]

In [6]:
even_list = a[1::2] + b[1:2]
even_list

[20, 40, 60]

### Exercise 2. Working with Lists

Create a list that contains the sums of each of the lists in G. 

`G = [[13, 9, 8], [14, 6, 12], [10, 13, 11], [7, 18, 9]]`

Your output should look like:

- `[30, 32, 34, 34]`

Hint: try computing the sum for just one list first.

In [8]:
G = [[13,9,8], [14,6,12], [10,13,11],[7,18,9]]
G

[[13, 9, 8], [14, 6, 12], [10, 13, 11], [7, 18, 9]]

In [10]:
g1 = sum(G[0])
g1

30

In [11]:
g2 = sum(G[1])
g2

32

In [12]:
g3 = sum(G[2])
g3

34

In [17]:
g4 = sum(G[3])
g4

34

In [18]:
listoflist = [g1] + [g2] + [g3] + [g4]
listoflist

[30, 32, 34, 34]

### Exercise 3: String Manipulation

Turn the string below into 'all good countrymen' using the minimum amount of code, using only the methods we've covered so far. A couple of lines of code should do the trick.  Note: this requires string and list methods.

In [19]:
s = 'Now is the time for all good men to come to the aid of their country!'
s

'Now is the time for all good men to come to the aid of their country!'

In [20]:
tolist = s.strip("!")
tolist

'Now is the time for all good men to come to the aid of their country'

In [21]:
tolist2 = tolist.split(" ")
tolist2

['Now',
 'is',
 'the',
 'time',
 'for',
 'all',
 'good',
 'men',
 'to',
 'come',
 'to',
 'the',
 'aid',
 'of',
 'their',
 'country']

In [22]:
goal = [tolist2[5]] + [tolist2[6]] + [tolist2[-1]] + [tolist2[7]]
goal

['all', 'good', 'country', 'men']

In [23]:
goal2 = goal[0] + " " + goal[1] + " " + goal[2] + goal[3]
goal2

'all good countrymen'

### Exercise 4: String Manipulation and Type Conversion

Define a variable `a = "Sarah earns $96500 in a year"`. Then maniuplate the value of `a` in order to print the following string: `Sarah earns $8041.67 monthly`

Start by doing it in several steps and then combine them one step at a time until you can do it in one line.

In [24]:
a = "Sarah earns $96500 in a year"
a

'Sarah earns $96500 in a year'

In [25]:
income = a.split(" ")
income

['Sarah', 'earns', '$96500', 'in', 'a', 'year']

In [27]:
new = income[0] + " " + income[1]
new

'Sarah earns'

In [28]:
monthly = income[2]
monthly

monthly1 = monthly.strip("$")
monthly1

'96500'

In [29]:
#dividing by 12 for monthly income
monthly2 = int(monthly1)
type(monthly2)

int

In [32]:
monthly3 = round((monthly2/12),2)
monthly3

8041.67

In [33]:
monthly4 = str(monthly3)
monthly4

'8041.67'

In [35]:
monthly5 = "$" + monthly4 + " monthly"
monthly5

'$8041.67 monthly'

In [36]:
newincome = new + " " + monthly5
newincome

'Sarah earns $8041.67 monthly'

### Exercise 5: Create and Query a Dictionary on State Demographics

Create two dictionaries, one for California and one for New York state, based on the data in the following table:

| States | Pop Density | Prop White | Prop Afr Amer | Prop Asian | Prop Other | Owners | Renters |
| --- | ---: | ---: | ---: | ---: | ---: | ---: | ---: |
| CA | 239.1 | 0.57  | 0.06 | 0.13 | 0.22 | 7035371 | 5542127 |
| NY | 411.2 | 0.65  | 0.15 | 0.07 | 0.22 | 3897837 | 3419918 |

Each dictionary should have the following keys and value types: `name: (string)` , `population density: (float)`, `race (dict)`, `tenure: (dict)`. 

1.  Create one dictionary called CA and one called NY that contain dictionaries containing name, pop_density, race as a dictionary, and tenure for California and New York.  Now combine these into a dictionary called "states", making it a dictionary of dictionaries, or a nested dictionary.

1.  Check if Texas is in our state dictionary (we know it isn't but show us).

1. Print the White population in New York as a percentage

1. Assume there was a typo in the data, and update the White population fraction of NY to 0.64. Verify that it was updated by printing the percentage again.

1. Print the percentage of households that are renters in California, with two decimal places

In [40]:
    carace_keys = ["Prop White", "Prop Afr Ameri", "Prop Asian", "Prop Other"]
    carace_values = [0.57, 0.06, 0.13, 0.22]
    carace_dict = dict(zip(carace_keys, carace_values))
    print(carace_dict)
    
    catenure_keys = ["Owners", "Renters"]
    catenure_values = [7035371, 5542127]
    catenure_dict = dict(zip(catenure_keys, catenure_values))
    print(catenure_dict)

{'Prop White': 0.57, 'Prop Afr Ameri': 0.06, 'Prop Asian': 0.13, 'Prop Other': 0.22}
{'Owners': 7035371, 'Renters': 5542127}

In [53]:
nyrace_keys = ["Prop White", "Propr Afr Ameri", "Prop Asian", "Prop Other"]
nyrace_values = [0.65, 0.15, 0.07, 0.22]
nyrace_dict = dict(zip(nyrace_keys, nyrace_values))
print(nyrace_dict)

nytenure_keys = ["Owners", "Renters"]
nytenure_values = [3897837, 3419918]
nytenure_dict = dict(zip(nytenure_keys, nytenure_values))
print(nytenure_dict)

{'Prop White': 0.65, 'Propr Afr Ameri': 0.15, 'Prop Asian': 0.07, 'Prop Other': 0.22}
{'Owners': 3897837, 'Renters': 3419918}

In [54]:
ca_keys = ["Names", "Population Density", "Race", "Tenure"]
ca_values = ["CA", 239.1, carace_dict, catenure_dict]
CA = dict(zip(ca_keys, ca_values))
print(CA)

{'Names': 'CA', 'Population Density': 239.1, 'Race': {'Prop White': 0.57, 'Prop Afr Ameri': 0.06, 'Prop Asian': 0.13, 'Prop Other': 0.22}, 'Tenure': {'Owners': 7035371, 'Renters': 5542127}}

In [55]:
ny_keys = ["Names", "Population Density", "Race", "Tenure"]
ny_values = ["NY", 411.2, nyrace_dict, nytenure_dict]
NY = dict(zip(ny_keys, ny_values))
print(NY)

{'Names': 'NY', 'Population Density': 411.2, 'Race': {'Prop White': 0.65, 'Propr Afr Ameri': 0.15, 'Prop Asian': 0.07, 'Prop Other': 0.22}, 'Tenure': {'Owners': 3897837, 'Renters': 3419918}}

In [56]:
states = {"CA":CA, "NY":NY}
states

{'CA': {'Names': 'CA',
  'Population Density': 239.1,
  'Race': {'Prop White': 0.57,
   'Prop Afr Ameri': 0.06,
   'Prop Asian': 0.13,
   'Prop Other': 0.22},
  'Tenure': {'Owners': 7035371, 'Renters': 5542127}},
 'NY': {'Names': 'NY',
  'Population Density': 411.2,
  'Race': {'Prop White': 0.65,
   'Propr Afr Ameri': 0.15,
   'Prop Asian': 0.07,
   'Prop Other': 0.22},
  'Tenure': {'Owners': 3897837, 'Renters': 3419918}}}

In [57]:
#checking to see if Texas is in our dict
"Texas" in states

False

In [58]:
filter_white = NY.get("Race")
filter_white

perc_white = filter_white.get("Prop White")*100
perc_white

65.0

In [59]:
NY.update({'Race':{'Prop White':0.64,
                  'Prop Afr Ameri': 0.06,
                  'Prop Asian':0.13,
                  'Prop Other':0.22}})
NY

{'Names': 'NY',
 'Population Density': 411.2,
 'Race': {'Prop White': 0.64,
  'Prop Afr Ameri': 0.06,
  'Prop Asian': 0.13,
  'Prop Other': 0.22},
 'Tenure': {'Owners': 3897837, 'Renters': 3419918}}

### Exercise 6: Working with Numpy Arrays

1. Create and print a 4 x 4 array named `a` with value 3 everywhere.

1. Create and print a 4 x 4 array named `b` with elements drawn from a uniform random distribution 

1. Create and print array `c` by dividing a by b

1. Compute and print the min, mean, max, median, and 90th percentile values of `c`

1. Compute and print the sum of the second column in `c`